#create-account-fieldset {
  text-align: center;
  padding: 0 1%;
  border: none;
}

#create-account-fieldset legend {
  /* Create Account */
  /* Gamed H1/Semibold */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  color: #323132;
  margin: 0 0 56px 0;
}

#create-account-form {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#redirect-to-log-in {
  /* Have an account? */
  /* Gamed Bodytextsmall/reg */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  /* identical to box height, or 120% */
  color: #323132;
  margin-top: 8px;
}

#redirect-to-log-in span {
  /* Login */
  /* Gamed Bodytextsmall/Medium */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  /* Pri/1001 */
  color: #3c0099;
}

#create-acc-button-wrapper {
  width: 550px;
  max-width: 100%;
  margin: 20px;
}

#or-wrapper {
  width: 80%;
  position: relative;
  height: 30px;
  margin-bottom: ;
}

#or-wrapper hr {
  text-align: center;
  margin-top: 15px;
}

#or-wrapper p {
  /* Or */
  /* Gamed p/Semibold */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 1.56rem;
  line-height: 1.875rem;
  /* identical to box height, or 120% */
  color: #323132;
  margin: 0;
  position: absolute;
  z-index: 1;
  left: 45%;
  bottom: 5%;
  background-color: white;
  padding: 0 3px;
  border-radius: 50%;
}

/* For laptop screens (less than 1440px) */
@media only screen and (max-width: 1440px;) {
  #create-account-fieldset legend {
  }
  #create-account-form {
  }
  #redirect-to-log-in {
  }
  #redirect-to-log-in span {
  }
  #create-acc-button-wrapper {
  }
  #or-wrapper {
  }
  #or-wrapper p {
  }
}
